---
import NavList from "../components/Lists/NavList";
import { socialMedias } from "../mocks/social-media.mock";
import { t } from "i18next";
import { DEFAULT_LANG } from "../config/i18n.config";
//import { Image } from '@astrojs/image/components';

var { lang } = Astro.params;

if (typeof lang !== "string") {
    lang = DEFAULT_LANG;
}

---

<footer class='flex flex-col items-center min-h-[30vh] justify-center px-3 md:px-0'>
    <h2 class='text-4xl font-extrabold mb-5'>{t('home.title')}</h2>
    <ul class="flex flex-col md:flex-row items-center md:space-x-2 md:mt-0 md:text-sm md:font-medium mb-4">
      <NavList client:visible className='hover:text-blue-600' lang={lang} />
    </ul>
    <p class='text-lg font-light mb-2'>{t('contact.title')}: hola@miguelo.dev</p>
    <div class='flex space-x-6 mb-5'>
      {
        socialMedias.map((social, index) => (
          <a href={social.Href} target="_blank" class="zoom-in" >
            {/*<Image 
              src={`/assets/img/icons/${social.icon}.svg`}
              class={'w-6 h-auto'}
              alt={social.icon}
              width={24}
              height={24}
              loading="lazy"
            />*/}
            <img 
              src={`/assets/img/icons/${social.icon}.svg`}
              class='w-6 h-auto'
              alt={social.icon}
              loading="lazy"
              />
          </a>
        ))
      }
    </div>
    <p class='text-gray-600 text-center font-light'>Copyright © {new Date().getFullYear()}. Miguelo DEV. All rights reserved.</p>
</footer>